# After changing this file, check it on:
#   http://lint.travis-ci.org/

language: python

# Run jobs on container-based infrastructure, can be overridden per job
sudo: false

matrix:
  include:

  - env:
    - PYTHON_VER='3.6'

  - env:
    - PYTHON_VER='3.7'

before_install:
  - uname -a
  - free -m
  - df -h
  - ulimit -a

install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - if [[ "$PYTHON_VER" == "3.6" ]]; then
        conda create -q -n p4env python=$PYTHON_VER ci-psi4 psi4 numpy=1.13 matplotlib jupyter scipy -c psi4;
    else
        conda create -q -n p4env python=$PYTHON_VER ci-psi4 psi4 numpy matplotlib jupyter scipy -c psi4/label/dev -c defaults -c conda-forge;
    fi

  - source activate p4env
  - conda install pytest pytest-cov codecov -c conda-forge
  - pip install pytest-shutil
  - conda list

before_script:
  - python -V

script:
  #- python -m pytest -rs -v -m "not long" --cov --durations=5
  #- python -m pytest -rs -v -k "RHF"  # e.g., run only tests with RHF in name
  - python -m pytest -rs -v -k "MP2_Hessian" 

after_success:
  - codecov

notifications:
  email: false

branches:
  only:
  - master
